/* .App {
  text-align: center;
} */


/* navbar */
.navbar{
  height: 10vh;
}

/* headin of the page */
.head h1{
  margin-top:10vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 75px;
  font-weight:bold;
}


.navbar-nav{
  display: flex;
  flex-direction: row;
}

.nav-item{
  margin-right: 1.5rem;
}

.link {
  text-decoration: none !important;
  color: white;
}

.link:hover{
  color: yellowgreen;
}

body{
  background-color: #333;
  color: white;
}








.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* nav */
#nav{
  /* text-align: center; */
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  
}

.nav-item{
  margin: 0 3rem;
  /* border: 1px solid black; */
  cursor: pointer;
}
.sub-nav{
  display: flex;
  /* border: 1px solid black; */

}

/* dashboard */
.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-card{
  background-color: white;
  color:#333;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-weight: 600;
}


.page{
  text-align: center;
}



.heading{
  margin: 3rem;
  font-weight: bolder;
  text-align: center;
}

/* login */
.login_container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.login_card{
position: relative;
border-style: none;
display: flex;
justify-content: center;
  max-width: 400px;
  /* background-color: rgba(51, 51, 51, 0.372); */
  background-image: linear-gradient(180deg, #7d7d7d, #302f2f);
  backdrop-filter: blur(100px);
}
.login_card p,
.login_card h5,
.login_card label{
  color:white;

}


.background_img{
position: absolute;
left: 15px;
filter: blur(8px);
z-index: -1;
}

.background_img img{
  height: 350px;
  margin: auto;
  display: block;
}

.logo_with_text img{
  /* height: 200px; */
  max-height: 400px;
  /* margin: auto; */
}

@media screen and (max-width:480px) {
  .head h1{
      text-align: center;
      font-size: 50px;
      font-weight:bold;
  }

}

@media screen and (max-width:1000px) {
  .img_col{
    display: none;
  }
}
